In [92]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import math
import warnings

warnings.filterwarnings('ignore')
%matplotlib inline

In [4]:
Path = 'dataset/data/Media/Media_'
info = pd.read_csv(Path + 'INFO.csv')
login = pd.read_csv(Path + 'LOGIN.csv')
menu = pd.read_csv(Path + 'MENU.csv')
stream = pd.read_csv(Path + 'STREAM.csv')

info server 1개
login server 5개
menuserver 4개
stream server 3개

In [20]:
print(info.shape)
print(login.shape)
print(menu.shape)
print(stream.shape)

(210240, 4)
(210240, 16)
(210240, 13)
(210240, 4)

# merge

In [58]:
dataset = pd.DataFrame(info['Timestamp'])
merge_list = [info, login, menu, stream]
for i in merge_list:
    dataset = pd.merge(dataset, i, how='left', on='Timestamp')

In [59]:
columns = list(dataset.columns)

In [71]:
for i in range(len(columns)):
     print(f'{columns[i]}\n', dataset[columns[i]].isna().value_counts(), '\n')

Timestamp
 False    210240
Name: Timestamp, dtype: int64

INFO-01-Request
 False    192249
True      17991
Name: INFO-01-Request, dtype: int64

INFO-01-Success
 False    192249
True      17991
Name: INFO-01-Success, dtype: int64

INFO-01-Fail
 False    192249
True      17991
Name: INFO-01-Fail, dtype: int64

LOGIN-01-Request
 False    209563
True        677
Name: LOGIN-01-Request, dtype: int64

LOGIN-01-Success
 False    209563
True        677
Name: LOGIN-01-Success, dtype: int64

LOGIN-01-Fail
 False    209563
True        677
Name: LOGIN-01-Fail, dtype: int64

LOGIN-02-Request
 False    192191
True      18049
Name: LOGIN-02-Request, dtype: int64

LOGIN-02-Success
 False    192191
True      18049
Name: LOGIN-02-Success, dtype: int64

LOGIN-02-Fail
 False    192191
True      18049
Name: LOGIN-02-Fail, dtype: int64

LOGIN-03-Request
 False    192191
True      18049
Name: LOGIN-03-Request, dtype: int64

LOGIN-03-Success
 False    192191
True      18049
Name: LOGIN-03-Success, dtype: int64

LOGIN-03-Fail
 False    192191
True      18049
Name: LOGIN-03-Fail, dtype: int64

LOGIN-04-Request
 False    209563
True        677
Name: LOGIN-04-Request, dtype: int64

LOGIN-04-Success
 False    209563
True        677
Name: LOGIN-04-Success, dtype: int64

LOGIN-04-Fail
 False    209563
True        677
Name: LOGIN-04-Fail, dtype: int64

LOGIN-05-Request
 False    209563
True        677
Name: LOGIN-05-Request, dtype: int64

LOGIN-05-Success
 False    209563
True        677
Name: LOGIN-05-Success, dtype: int64

LOGIN-05-Fail
 False    209563
True        677
Name: LOGIN-05-Fail, dtype: int64

MENU-01-Request
 False    209771
True        469
Name: MENU-01-Request, dtype: int64

MENU-01-Success
 False    209771
True        469
Name: MENU-01-Success, dtype: int64

MENU-01-Fail
 False    209771
True        469
Name: MENU-01-Fail, dtype: int64

MENU-02-Request
 False    209771
True        469
Name: MENU-02-Request, dtype: int64

MENU-02-Success
 False    209771
True        469
Name: MENU-02-Success, dtype: int64

MENU-02-Fail
 False    209771
True        469
Name: MENU-02-Fail, dtype: int64

MENU-03-Request
 False    209771
True        469
Name: MENU-03-Request, dtype: int64

MENU-03-Success
 False    209771
True        469
Name: MENU-03-Success, dtype: int64

MENU-03-Fail
 False    209771
True        469
Name: MENU-03-Fail, dtype: int64

MENU-04-Request
 False    209771
True        469
Name: MENU-04-Request, dtype: int64

MENU-04-Success
 False    209771
True        469
Name: MENU-04-Success, dtype: int64

MENU-04-Fail
 False    209771
True        469
Name: MENU-04-Fail, dtype: int64

STREAM-01-Session
 False    178731
True      31509
Name: STREAM-01-Session, dtype: int64

STREAM-02-Session
 False    178730
True      31510
Name: STREAM-02-Session, dtype: int64

STREAM-03-Session
 False    209782
True        458
Name: STREAM-03-Session, dtype: int64

In [118]:
year = dataset['Timestamp'][0].split('_')[0][:4]
month = dataset['Timestamp'][0].split('_')[0][4:6]
day = dataset['Timestamp'][0].split('_')[0][6:8]

'2017'

In [120]:
dataset['Timestamp'][0].split('_')

['20170101', '0000-0005']

In [123]:
dataset['Timestamp'][0].split('_')[0][6:8]

'01'

In [124]:
dataset['Timestamp']

0         20170101_0000-0005
1         20170101_0005-0010
2         20170101_0010-0015
3         20170101_0015-0020
4         20170101_0020-0025
                 ...
210235    20181231_2335-2340
210236    20181231_2340-2345
210237    20181231_2345-2350
210238    20181231_2350-2355
210239    20181231_2355-0000
Name: Timestamp, Length: 210240, dtype: object

# 보간

In [136]:
dataset = dataset.fillna(dataset.mean())

# train test split

In [139]:
train_set = dataset[:105120]
train_set.to_csv('2_train.csv', mode='w')

In [140]:
test_set = dataset[105120:]
test_set.to_csv('2_test.csv', mode='w')